.nav-menu {
  background: #0505055e;
  transition: all .4s;
  
  }
  .custom-navbar {
  padding-bottom: -5px;
  background: rgba(4, 8, 7, 0.973);
  transition: all .4s;}
  
  .Entrance-text-main{
  text-shadow: 2px 3px 9px rgba(0,0,0,0.89);
  font-size: 99px;
  
  }
  .Entrance-text-sec{
  text-shadow: 2px 3px 9px rgba(0,0,0,0.89);
  
  font-size: 40px;
  
  }
  
  .menu-item {
  font-size: 13px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: bold;
  transition: color .5s;
  }
  
  .menu-item:hover {
  color: #70aed2;
  }
  
  .nav-active {
  color: #70aed2;
  }
  
  .line1, .line2, .line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all .4s;
  }
  
  .change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .change .line2 {
  opacity: 0;
  }
  
  .change .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  }
  
  
  .nav-text{
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
  color: white;
  }
  /*Animation Start */
  .rotate {
  animation: rotation 8s infinite linear;
  }
  @keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
  }
  @keyframes spin-horizontal {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
  }
  .image-rotate-horizontal{
  -moz-animation: spin-horizontal .8s infinite linear;
  -o-animation: spin-horizontal .8s infinite linear;    
  -webkit-animation: spin-horizontal .8s infinite linear;
  animation: spin-horizontal 8s infinite linear;
  }